@import url("styles/colors.css");
@import url("styles/workspaces.css");
@import url("styles/network.css");
@import url("styles/battery.css");
@import url("styles/backlight.css");
@import url("styles/notifications.css");
@import url("styles/pulseaudio.css");
@import url("styles/memory.css");
@import url("styles/cpu.css");
@import url("styles/clock.css");
@import url("styles/disk.css");
@import url("styles/tray.css");

* {
  border: none;
  border-radius: 0;
  font-family: "Mononoki Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: @base;
  color: @text;
}

#clock,
#cpu,
#memory,
#network,
#battery,
#pulseaudio,
#backlight,
#workspaces,
#disk,
#tray,
#custom-notification {
  padding: 0 5px;
  margin: 0 5px;
}
