#battery {
  border-bottom: 2px solid @yellow;
  color: @yellow;
}

#battery.plugged,
#battery.charging {
  border-bottom: 2px solid @green;
  color: @green;
}

#battery.warning:not(.charging) {
  background-color: @peach; /* Peach */
  color: @base; /* Base */
}

#battery.critical:not(.charging) {
  background-color: @red; /* Red */
  color: @base; /* Base */
}
