#workspaces {
  background: transparent;
}

#workspaces button {
  padding: 2px 1px;
  margin: 5px 3px;
  background: @surface0;
  color: @text;
  border-radius: 999px;
  border: 2px solid @surface0;
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  background: @surface1;
}

#workspaces button.active {
  background: @blue;
  color: @base;
  border-color: @blue;
  font-weight: bold;
  box-shadow: 0px 0px 2px @blue;
}

#workspaces button.urgent {
  background: @red;
  color: @base;
  border-color: @red;
  font-weight: bold;
  box-shadow: 0px 0px 5px @red;
}
